:root {
    --header-background-color: #1e4a39;
    --document-background-color: #1e2f4a;
    --button-background-color: #166838;
    --footer-background-color: #17362a;
}

body {
    background-color: var(--document-background-color);
    font-size: 1rem;
}


/************/
/*  Header  */
/************/

header {
    margin: 1em;
    padding: 1em 1em 0 1em;
    border-radius: 1em;
    background-color: var(--header-background-color);
    user-select: none;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header > nav {
    display: flex;
    flex-direction: row;
    padding: 0.8em 0;
    justify-content: space-between;
}

header > nav > ul{
    padding: 0;
}

header > nav > ul > li {
    display: inline-block;
    margin: 0 0.4em;
}

header > nav > ul > li > a {
    padding: 0.8em 1em;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 0.5em;
    background-color: var(--button-background-color);
    -webkit-user-drag: none;
}

/**********/
/*  Page  */
/**********/

main > section {
    margin: 1em;
    padding: 1em;
}


/************/
/*  Footer  */
/************/

footer {
    margin: 1em;
    padding: 0.5em 1em;
    background-color: var(--footer-background-color);
    border-radius: 1em;
    user-select: none;
}

footer p {
    text-align: center;
    color: #ccc;
}