/************************/
/*  Informations Aside  */
/************************/

.left-aside {
    display: flex;
}

.left-aside aside {
    padding: 1em;
    min-width: 170px;
    width: 15vw;
}

.left-aside ul {
    padding-left: 0;
}

.left-aside li {
    list-style: none;
}

.left-aside nav a {
    color: #fff;
    text-decoration: none;
}

.left-aside nav a:hover {
    text-decoration: underline;
}

.left-aside section {
    padding: 1em;
}


/*******************/
/*  Documentation  */
/*******************/

pre {
    border-radius: 0.5em;
}