:root {
    --button-background-color: #62e774;
    --document-background-color: #131e2e;
    --selected-button-background-color: rgba(98, 231, 116, 0.5);
}

body {
    background-color: var(--document-background-color);
    user-select: none;
}


/*************/
/*  Buttons  */
/*************/

img {
    -webkit-user-drag: none;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

li {
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 13em;
    list-style: none;
}

a {
    display: block;
    padding: 0.8em 0;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.6em;
    background-color: var(--button-background-color);
    color: var(--document-background-color);
}

a:hover {
    text-decoration: underline var(--document-background-color);
    background-color: var(--selected-button-background-color);
}

/* How to center verticaly : https://www.w3schools.com/howto/howto_css_center-vertical.asp */