<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/global.css">
    <base href="https://nerexon.com/">
</head>
<body>
    <header>
        <!--Replace with the name of the page-->
        <h1>Nerexon - Name of the page</h1>
        <nav>
            <ul>
                <li><a href="/page/fr/accueil.html">Accueil</a></li>
                <li><a>Projets</a></li>
                <li><a>À propos</a></li>
            </ul>
            <ul>
                <li><a>English</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy;Copyright Nerexon | 2023 - 2025</p>
    </footer>
</body>
</html>