<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/global.css">
    <base href="https://nerexon.com/">
    <script src="/js/autoLang.js"></script>
</head>
<body>
    <header>
        <!--Replace with the name of the page-->
        <h1>Nerexon - Name of the page</h1>
        <nav>
            <ul>
                <li><a href="/page/en/home.html">Home</a></li>
                <li><a>Projects</a></li>
                <li><a>About Us</a></li>
            </ul>
            <ul>
                <li><a id="fr">Français</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy;Copyright Nerexon | 2023 - 2025</p>
    </footer>
    <script src="/js/langSelector.js"></script>
</body>
</html>